{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Tech with timtim Blog!Here we'll be talking about computer science.Basics pytho, ML, DL, RL, computer vision etc etc. blah blah blah!!!</p>
            <p>Go visit my linkedin profile  <a href="https://www.linkedin.com/in/himadrisingh1612/">tech with timtim</a>to check more cool stuff ...</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}